@page "/user-list"

<PageTitle>Пользователи</PageTitle>

@using Microsoft.EntityFrameworkCore;
@inject PracticeContext context

<h1>Пользователи</h1>
<p>Список всех пользователей на сайте</p>

@if (context == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UserID</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Email</th>
                <th>Location</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var us in cars)
            {
                <tr>
                    <th>@us.UserId</th>
                    <th>@us.User.UserName</th>
                    <th>@us.User.Password</th>
                    <th>@us.User.Email</th>
                    <th>@us.User.Location</th>
                    <th>@us.User.Role.Name</th>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Car> cars = new List<Car>();
    protected override async Task OnInitializedAsync()
    {
        cars= await context.Cars.Include(x => x.User)
                                 .Include(x => x.User.Role)
                                 .ToListAsync();
    }
}
